<div class="row container-fluid">
  <!-- ///////////////////////////////// left side ////////////////////////////////////////////////// -->
  <div class="col-3 left">
    <div>
      <img
        src="../assets/vlogo.png"
        class="img-rounded ilogo rounded mx-4"
        alt="logo"
        style="height: 14em; margin-top: -1.5em; margin-bottom: -1.5em"
      />
    </div>
    <div class="nav">
      <ul class="nav d-flex flex-column justify-content-around my-1 mx-5 px-3">
        <li class="nav-item mb-3">
          <a
            class="nav-link active item"
            routerLink="/home"
            routerLinkActive="active"
            ><i class="fas fa-home mx-2" style="font-size: large"></i>Home</a
          >
        </li>
        <li class="nav-item mb-3">
          <a class="nav-link item" href="#"
            ><i class="fas fa-folder-open mx-2" style="font-size: large"></i
            >Library</a
          >
        </li>
        <li class="nav-item mb-3">
          <a class="nav-link item" href="#"
            ><i class="fas fa-tv mx-2" style="font-size: large"></i>TV Series</a
          >
        </li>
        <li class="nav-item mb-3">
          <a class="nav-link item" href="#"
            ><i class="fas fa-film mx-2" style="font-size: large"></i>Movies</a
          >
        </li>
      </ul>
    </div>
  </div>

  <!-- //////////////////////////////////// right side /////////////////////////////////////////////////////////////// -->
  <div class="col-9 right">
    <app-home></app-home>
  </div>
</div>
