<div class="row container">
  <!-- search by channel id + refresh button -->
  <div class="row col-12 mt-2 mx-2 mb-3">
    <div class="col-10">
      <input #ChID class="form-control" type="text" [(ngModel)]="ChannelID" />
    </div>

    <!-- refresh + notify + add buttons -->
    <div class="d-flex justify-between-around">
      <div>
        <button class="btn btt text-center mx-1" (click)="search(ChID.value)">
          <i class="fas fa-search rounded-circle bills"></i>
        </button>
      </div>
      <div>
        <button class="btn btt shadow-lg text-center mx-1" (click)="refresh()">
          <i class="fas fa-redo-alt rounded-circle bills"></i>
        </button>
      </div>
      <div></div>
    </div>
  </div>

  <!-- carousel -->
  <div class="row col-12 mb-5 mt-4 mx-2">
    <div class="carousel bg-dark">
      <carousel
        [height]="540"
        [objectFit]="'contain'"
        [cellWidth]="'100%'"
        [cellsToScroll]="1"
        [overflowCellsLimit]="1"
        [arrowsOutside]="false"
        [cellsToShow]="1"
        [autoplay]="true"
        [dots]="true"
        [loop]="true"
        [lightDOM]="true"
        [autoplayInterval]="2000"
        [arrowsTheme]="'dark'"
      >
        <div class="carousel-cell">
          <img
            src="../../../assets/carousel1.jpg"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-cell">
          <img
            src="../../../assets/carousel2.jpg"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-cell">
          <img
            src="../../../assets/carousel3.jpg"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-cell">
          <img
            src="../../../assets/carousel4.jpg"
            class="d-block w-100"
            alt="..."
          />
        </div>
      </carousel>
    </div>
  </div>
  <!-- film cards  -->

  <div
    class="text-danger my-1 mx-2"
    style="font-size: large; font-weight: bold"
  >
    Recommended:
  </div>

  <div
    cdkDropList
    [cdkDropListData]="filmList"
    class="example-list"
    (cdkDropListDropped)="drop($event)"
  >
    <div
      class="row col-12 mt-4 mx-2 mb-3 d-flex flex-column align-items-center"
      *ngFor="let film of filmList; let k = index"
      cdkDrag
    >
      <div class="card mb-3 crd" style="height: 17.9em">
        <div class="row no-gutters">
          <div class="col-md-4" *ngIf="film.embed">
            <!-- <img src="..." class="card-img" alt="..." /> -->

            <!-- [src]="getSafeURL(film.embed)" -->
            <!-- [src]="film.embed" -->
            <iframe
              height="340em"
              src="../../../assets/vedio.mp4"
              frameborder="0"
              allow="accelerometer;  clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title" style="color: #cc181e">
                {{ film.title }}
              </h5>
              <div class="card-text">
                <p style="word-wrap: break-word">
                  {{ film.description }}
                </p>
                <div class="my-2">
                  <input
                    #comment
                    type="text"
                    class="form-control"
                    placeholder="add comment here"
                    [(ngModel)]="film.notes"
                  />
                  <!-- onformchange="addComment()" -->
                </div>
              </div>
              <div class="card-text">
                <small class="text-muted d-flex justify-content-end">
                  <button class="btn btn-danger text-light mx-1">
                    <i class="fas fa-thumbs-up mx-2"></i>{{ film.likes }}
                  </button>
                  <button class="btn btn-danger text-light mx-1">
                    <i class="fas fa-share-alt mx-2"></i>{{ film.shares }}
                  </button>
                  <button class="btn btn-danger text-light mx-1">
                    <i class="far fa-bell mx-2"></i>{{ film.subscribes }}
                  </button>
                  <button
                    class="btn btn-secondary text-light"
                    (click)="addComment(film.id, comment.value)"
                  >
                    <i class="fas fa-comment-alt mx-2"></i>Add Comment
                  </button>
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
